// ================================
// Base: Default
// ================================

@at-root {
  @viewport {
    width: device-width;
  }
}

// --------------------------------
// Pseudo
// --------------------------------

// When selecting, these are the highlight styles
::selection {
  background: var(--root__selection-background);
  color: var(--root__selection-color);
  text-shadow: none;
}

// --------------------------------
// Accessibility
// --------------------------------

// No outline for non-keyboard-input elements
button:focus,
input:focus,
select:focus,
*:focus {
  outline: none;
}

// When user is tabbing, add focus outline
html.user-is-tabbing *:focus {
  outline: 2px solid var(--root__outline-color) !important;
  outline: 5px auto -webkit-focus-ring-color !important;
}

// --------------------------------
// Body
// --------------------------------

html {
  font-size: var(--root__html-fontSize);
}

body {
  background-color: #fff;
  font-size: rem(16px);
  line-height: 1.45;
  color: set-color(gray);

  @include media('>=lg') {
    font-size: rem(18px);
  }
}

h1 {
  @include get-typeset('h1');
}

h2 {
  @include get-typeset('h2');
}

h3 {
  @include get-typeset('h3');
}

h4 {
  @include get-typeset('h4');
}

h5 {
  @include get-typeset('h5');
}

a {
  color: currentColor;
  text-decoration: none;
}

sup {
  font-size: 0.6em;
}
