// ================================
// Base: Forms
// ================================
button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  font-weight: inherit;
  color: inherit;
}
