// ================================
// Wysiwyg Styles
// ================================

%wysiwyg {
  a {
    text-decoration: underline;
  }

  ol,
  ul {
    margin-left: 1em;
  }

  strong {
    font-weight: 700;
  }

  hr {
    margin: rem(45px 0);
    border-color: #cecece;
  }

  // spacing between elements
  > * {
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// --------------------------------
// Extend Styles
// --------------------------------

.wysiwyg {
  @extend %wysiwyg;
}
