// ================================
// Tools: Set Element State
// ================================

// Defines a target state
// @include set-state() { ... };

@mixin set-state($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}
