// ================================
// Tools: Set Font Family & Weight
// ================================

// ex: @include set-font(font-one, 400)
// First value is your $family and second value is your weight

@mixin set-font($family: sans-serif, $weight: normal) {
  font-family: $family;
  font-weight: $weight;
}
