// ================================
// Tools: Extends
// ================================

// Add shadow to text
%shadow-text {
  text-shadow: rem(0 2px 4px) rgba(0, 0, 0, 0.4);
}

// Add underline to links
%href-underline {
  box-shadow: inset 0 -0.05em currentColor, inset 0 -0.05em currentColor;
  transition: box-shadow 250ms ease;
}

// Visually hide elements while at the same time make them accessible on screen readers
%visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// Add ellipsis to long text
%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
