// ================================
// Styleguide Main
// ================================

$headerHeight: rem(50px);

.app {
  @include set-font($font-roboto, 400);
  background-color: #f3f3f3;

  a {
    text-decoration: none;
  }
}

.layoutHeader {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: $headerHeight;
  background-color: #df0000;
  padding: rem(10px 20px);
  color: #fff;
  @include set-font($font-titillium, 600);
  text-transform: uppercase;
  z-index: 2;

  a {
    color: inherit;
  }
}

.layoutContent {
  display: flex;
}

.layoutNav {
  position: sticky;
  top: $headerHeight;
  background-color: #fff;
  height: calc(100vh - #{$headerHeight});
  padding: rem(30px 0);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.layoutNav__menu {
  list-style: none;

  a {
    display: inline-block;
    color: #171717;
    padding-left: rem(30px);
    background: none;

    &:hover,
    &:focus,
    &.is-active {
      background-color: #e5e5e6;
    }
  }
}

.layoutNav__link,
.layoutNav__button {
  width: 100%;
  padding: rem(8px 20px);
  text-align: left;
  font-size: 0.9em;
  background-color: transparent;
}

.layoutNav__button {
  appearance: none;
  padding: rem(10px 20px);
  margin: 0;
  border: 0;
  font-weight: 700;
}

.layoutMain {
  overflow: hidden;
}

.pageHeader {
  background-color: #000;
  color: #fff;
  height: 30vh;
  min-height: rem(200px);
  max-height: rem(300px);
  display: flex;
  align-items: flex-end;
  padding: rem(20px 5%);
  @include set-font($font-titillium, 600);
}

.pageContent {
  padding: rem(80px 5%);

  > section + section {
    margin-top: rem(60px);
  }
}

.codeCopy,
.codeExample__live {
  code {
    padding: rem(2px 4px 2px);
    margin: 0;
    font-size: 80%;
    background-color: rgba(27, 31, 35, 0.08);
    border-radius: rem(3px);
    color: #333;
    @include set-font($font-mono);
  }

  kbd {
    background: #333;
    border-radius: rem(3px);
    color: #fff;
    font-size: 85%;
    padding: 4px 8px;
    vertical-align: baseline;
    white-space: nowrap;

    kbd {
      padding: 0;
      font-size: 100%;
    }
  }
}

.codeExample {
  width: 100%;
  background-color: #fff;

  & + & {
    margin-top: rem(30px);
  }
}

.codeExample__live {
  padding: rem(40px 5%);
}

.codeCopy {
  h2,
  h3,
  h4 {
    @include set-font($font-titillium, 600);
  }

  h2 {
    @include get-typeset('h3');
  }

  h3 {
    @include get-typeset('h4');
  }

  ul,
  ol {
    margin-left: rem(18px);
  }

  > * + * {
    margin-top: rem(20px);
  }

  a {
    color: #4453f1;
    background-position: 0 91%;
    background-image: linear-gradient(#4453f1, #4453f1);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #df0000;
      background-image: linear-gradient(#df0000, #df0000);
    }
  }
}

.codeCopy + .codeExample {
  margin-top: rem(30px);
}

.codeTable {
  width: 100%;
  font-size: rem(14px);
  text-align: left;
  border-radius: rem(5px);
  overflow: hidden;
  box-shadow: rem(0 1px 3px) rgba(0, 0, 0, 0.12), rem(0 1px 2px) rgba(0, 0, 0, 0.04);
  background-color: #fff;

  thead {
    background-color: rgba(#26354b, 0.2);
  }

  th,
  td {
    padding: rem(10px 15px);
    vertical-align: top;
  }

  tbody {
    background-color: #fff;
  }

  tr {
    &:nth-child(even) {
      td:not([class*='bg-']) {
        background-color: rgba(#dfe2e5, 0.3);
      }
    }
  }

  td + td {
    border-left: 1px solid rgba(#dfe2e5, 0.5);
  }
}

.ebox {
  height: 100%;
  padding: rem(10px 20px);
  background-color: #0062ff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;

  .ebox {
    background-color: #033b85;
  }
}

.ebox--short {
  height: rem(30px);
}

.ebox--tall {
  height: rem(60px);
}

.ebox--bg {
  width: 100%;
  height: rem(350px);
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.sg-row {
  background-color: rgba(#0077fd, 0.08);
  border-radius: rem(3px);
  padding: rem(10px);
}

.sg-row--fshort {
  height: rem(80px);

  .row {
    height: 100%;
  }
}

.sg-row--ftall {
  height: rem(150px);

  .row {
    height: 100%;
  }

  [class*='col-'] {
    margin: rem(5px 0);
  }
}

.exampleGroup {
  & + & {
    margin-top: rem(30px);
  }
}
