// ================================
// Settings & Variables
// ================================

// --------------------------------
// Typography
// --------------------------------

// Font families
$font-titillium: 'Titillium Web', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Type Sets
// Define a type grouping that can be looped over and generate utility classes
$type-sets: (
  h1: (
    base: (
      font-size: rem(45px)
    ),
    lg: (
      font-size: rem(175px)
    )
  ),
  h2: (
    base: (
      font-size: rem(34px),
      line-height: 1
    ),
    lg: (
      font-size: rem(60px)
    )
  ),
  h3: (
    base: (
      font-size: rem(26px)
    ),
    lg: (
      font-size: rem(34px)
    )
  ),
  h4: (
    base: (
      font-size: rem(22px)
    ),
    lg: (
      font-size: rem(26px)
    )
  ),
  h5: (
    base: (
      font-size: rem(17px)
    ),
    md: (
      font-size: rem(21px)
    )
  ),
  meta: (
    base: (
      font-size: rem(11px),
      letter-spacing: 0.15em,
      text-transform: uppercase
    )
  ),
  xs: (
    base: (
      font-size: 0.75em
    )
  ),
  sm: (
    base: (
      font-size: 0.875em
    )
  ),
  base: (
    base: (
      font-size: 1em
    )
  ),
  lg: (
    base: (
      font-size: 1.125em
    )
  ),
  xl: (
    base: (
      font-size: 1.25em
    )
  )
);

// --------------------------------
// Colors
// --------------------------------

$colors: (
  white: (
    base: #fff,
    dark: #f1f1f1
  ),
  black: (
    base: #000
  ),
  red: (
    base: #f00
  ),
  gray: (
    base: #333,
    light: #666
  )
);
