{% extends '_layout/page.html' %}

{% set pageTitle = 'Background' %}
{% set pageActiveNode = 'background' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Format background position, repeating, and size.</li>
        <li>Class: <code>bg-[utility]</code></li>
        <li>Responsive class: <code>[breakpoint]:bg-[utility]</code></li>
        <li>When combining classes, aim to have one utility class from a column. Combining multiple classes from the same column will produce weird results. Each column only modifies one background CSS property. </li>
        <li>Click on any of the radio buttons below to see how the classes will affect the background image.</li>
      </ul>

      <table class="codeTable mb-2">
        <thead>
          <th>Position</th>
          <th>Repeat</th>
          <th>Size</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><input type="radio" name="bg-position" id="bg-bottom" data-bg-position data-class="bg-bottom" class="mr-1"><label for="bg-bottom" class="whitespace-nowrap"><code style="cursor: pointer">bottom</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-center" data-bg-position data-class="bg-center" class="mr-1"><label for="bg-center" class="whitespace-nowrap"><code style="cursor: pointer">center</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-left" data-bg-position data-class="bg-left" class="mr-1"><label for="bg-left" class="whitespace-nowrap"><code style="cursor: pointer">left</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-left-bottom" data-bg-position data-class="bg-left-bottom" class="mr-1"><label for="bg-left-bottom" class="whitespace-nowrap"><code style="cursor: pointer">left-bottom</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-left-top" data-bg-position data-class="bg-left-top" class="mr-1"><label for="bg-left-top" class="whitespace-nowrap"><code style="cursor: pointer">left-top</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-right" data-bg-position data-class="bg-right" class="mr-1"><label for="bg-right" class="whitespace-nowrap"><code style="cursor: pointer">right</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-right-bottom" data-bg-position data-class="bg-right-bottom" class="mr-1"><label for="bg-right-bottom" class="whitespace-nowrap"><code style="cursor: pointer">right-bottom</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-right-top" data-bg-position data-class="bg-right-top" class="mr-1"><label for="bg-right-top" class="whitespace-nowrap"><code style="cursor: pointer">right-top</code></label></div>
              <div><input type="radio" name="bg-position" id="bg-top" data-bg-position data-class="bg-top" class="mr-1"><label for="bg-top" class="whitespace-nowrap"><code style="cursor: pointer">top</code></label></div>
            </td>
            <td>
              <div><input type="radio" name="bg-repeat" id="bg-repeat" data-bg-repeat data-class="bg-repeat" class="mr-1"><label for="bg-repeat" class="whitespace-nowrap"><code style="cursor: pointer">repeat</code></label></div>
              <div><input type="radio" name="bg-repeat" id="bg-no-repeat" data-bg-repeat data-class="bg-no-repeat" class="mr-1"><label for="bg-no-repeat" class="whitespace-nowrap"><code style="cursor: pointer">no-repeat</code></label></div>
              <div><input type="radio" name="bg-repeat" id="bg-repeat-x" data-bg-repeat data-class="bg-repeat-x" class="mr-1"><label for="bg-repeat-x" class="whitespace-nowrap"><code style="cursor: pointer">repeat-x</code></label></div>
              <div><input type="radio" name="bg-repeat" id="bg-repeat-y" data-bg-repeat data-class="bg-repeat-y" class="mr-1"><label for="bg-repeat-y" class="whitespace-nowrap"><code style="cursor: pointer">repeat-y</code></label></div>
            </td>
            <td>
              <div><input type="radio" name="bg-size" id="bg-auto" data-bg-size data-class="bg-auto" class="mr-1"><label for="bg-auto" class="whitespace-nowrap"><code style="cursor: pointer">auto</code></label></div>
              <div><input type="radio" name="bg-size" id="bg-cover" data-bg-size data-class="bg-cover" class="mr-1"><label for="bg-cover" class="whitespace-nowrap"><code style="cursor: pointer">cover</code></label></div>
              <div><input type="radio" name="bg-size" id="bg-contain" data-bg-size data-class="bg-contain" class="mr-1"><label for="bg-contain" class="whitespace-nowrap"><code style="cursor: pointer">contain</code></label></div>
              <div><input type="radio" name="bg-size" id="bg-contain-x" data-bg-size data-class="bg-contain-x" class="mr-1"><label for="bg-contain-x" class="whitespace-nowrap"><code style="cursor: pointer">contain-x</code></label></div>
              <div><input type="radio" name="bg-size" id="bg-contain-y" data-bg-size data-class="bg-contain-y" class="mr-1"><label for="bg-contain-y" class="whitespace-nowrap"><code style="cursor: pointer">contain-y</code></label></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="ebox ebox--bg" data-bg-container style="background-image: url('https://images.unsplash.com/photo-1543843911-494c9888a277?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=40')"></div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="bg-center"></div>
        <div class="bg-repeat-x"></div>
        <div class="bg-cover"></div>

        {# Responsive #}
        <div class="bg-cover md:bg-auto"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
