{% extends '_layout/page.html' %}

{% set pageTitle = 'Container' %}
{% set pageActiveNode = 'container' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Utility classes for limiting the width of content.</li>
        <li>Containers are always 100% width with a max-width depending on container size.</li>
        <li>All containers have a built in padding across viewports.</li>
        <li>Remove padding by adding class <code>px-0</code>.</li>
        <li>Remove centering by adding class <code>mx-0</code>.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__live align-center">
        <code>container-sm</code>
        <div class="sg-row mt-1 mb-2"><div class="container-sm"><p class="ebox">[max-width: 530px]</p></div></div>
        <code>container-md</code>
        <div class="sg-row mt-1 mb-2"><div class="container-md"><p class="ebox">[max-width: 768px]</p></div></div>
        <code>container-lg</code>
        <div class="sg-row mt-1 mb-2"><div class="container-lg"><p class="ebox">[max-width: 960px]</p></div></div>
        <code>container-xl</code>
        <div class="sg-row mt-1 mb-2"><div class="container-xl"><p class="ebox">[max-width: 1180px]</p></div></div>
        <code>container</code>
        <div class="sg-row mt-1 mb-2"><div class="container"><p class="ebox">[width: 100%]</p></div></div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        <div class="container"></div>
        <div class="container-sm"></div>
        <div class="container-md"></div>
        <div class="container-lg"></div>
        <div class="container-xl"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
