{% extends '_layout/page.html' %}

{% set pageTitle = 'Display' %}
{% set pageActiveNode = 'display' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Utility class to define display property of element.</li>
        <li>Base class: <code>display-[property]</code></li>
        <li>Responsive class: <code>[breakpoint]:display-[class]</code></li>
        <li>Available properties: <code>inline</code>, <code>inlineblock</code>, <code>block</code>, <code>inlineflex</code> and <code>flex</code></li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="inline"></div>
        <div class="inlineblock"></div>
        <div class="block"></div>
        <div class="inlineflex"></div>
        <div class="flex"></div>

        {# Responsive Example #}
        <div class="display-flex md:display-block"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
