{% extends '_layout/page.html' %}

{% set pageTitle = 'Flex Columns' %}
{% set pageActiveNode = 'columns' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Flex based 12 column layout.</li>
        <li>Use <code>col-</code> plus number of columns to define width. Example: <code>col-4</code></li>
        <li>Add responsive modifiers to trigger different column widths, sorting, or positioning by breakpoint.</li>
        <li>A set of columns must be wrapped with the <code>.row</code> wrapper.</li>
        <li>Any set of columns inside of a <code>.row</code> that do not equal to 100% will wrap to a new line.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="row mb-1">
          <div class="col-12"><p class="ebox">col-12</p></div>
        </div>

        <div class="row mb-1">
          <div class="col-12 md:col-6"><p class="ebox">col-6</p></div>
          <div class="col-12 md:col-6"><p class="ebox">col-6</p></div>
        </div>

        <div class="row mb-1">
          <div class="col-12 md:col-4"><p class="ebox">col-4</p></div>
          <div class="col-12 md:col-4"><p class="ebox">col-4</p></div>
          <div class="col-12 md:col-4"><p class="ebox">col-4</p></div>
        </div>

        <div class="row mb-1">
          <div class="col-12 md:col-3"><p class="ebox">col-3</p></div>
          <div class="col-12 md:col-3"><p class="ebox">col-3</p></div>
          <div class="col-12 md:col-3"><p class="ebox">col-3</p></div>
          <div class="col-12 md:col-3"><p class="ebox">col-3</p></div>
        </div>

        <div class="row">
          <div class="col-12 md:col-2"><p class="ebox">col-2</p></div>
          <div class="col-12 md:col-2"><p class="ebox">col-2</p></div>
          <div class="col-12 md:col-2"><p class="ebox">col-2</p></div>
          <div class="col-12 md:col-2"><p class="ebox">col-2</p></div>
          <div class="col-12 md:col-2"><p class="ebox">col-2</p></div>
          <div class="col-12 md:col-2"><p class="ebox">col-2</p></div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row">
          <div class="col-12">...</div>
        </div>

        <div class="row">
          <div class="col-6">...</div>
          <div class="col-6">...</div>
        </div>

        <div class="row">
          <div class="col-4">...</div>
          <div class="col-4">...</div>
          <div class="col-4">...</div>
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Responsive</h2>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <div class="row">
          <div class="col-12 md:col-4 lg:col-6"><p class="ebox">[resize browser]</p></div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <!--
        // col-12: by default the column will be 100%
        // md:col-4: while in a medium viewport, the column will be 33% (4/12)
        // lg:col-6: while in a large viewport, the column will be 50% (6/12)
        -->

        <div class="row">
          <div class="col-12 md:col-4 lg:col-6">...</div>
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Gutter</h2>
      <ul>
        <li>Adjust gutter spacing between columns.</li>
        <li>Add responsive modifiers <code> sm:, md:, lg:, xl:</code></li>
      </ul>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <code>default</code>
        <div class="row my-2">
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
        </div>

        <code>gutter-gapless</code>
        <div class="row gutter-gapless my-2">
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
        </div>

        <code>gutter-narrow</code>
        <div class="row gutter-narrow my-2">
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
        </div>

        <code>gutter-wide</code>
        <div class="row gutter-wide my-2">
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <!-- default & gutter-default-->
        <div class="row">...</div>
        <div class="row gutter-default">...</div>

        <!-- gutter-gapless -->
        <div class="row gutter-gapless">...</div>

        <!-- gutter-narrow -->
        <div class="row gutter-narrow">...</div>

        <!-- gutter-wide -->
        <div class="row gutter-wide">...</div>

        <!-- responsive -->
        <div class="row gutter-gapless md:gutter-narrow lg:gutter-wide xl:gutter-default">...</div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Auto</h2>
      <ul>
        <li>Add any number of columns to a row and each column will be the same width.</li>
        <li>Perfect for when having an odd numnber of columns that is not divisible by 12.</li>
        <li>Can be utilized to fill up remaining amount of space in conjunction with a column that has a defined width.</li>
      </ul>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <div class="row mb-1">
          <div class="col-auto"><p class="ebox">col-auto</p></div>
        </div>

        <div class="row mb-1">
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-4"><p class="ebox">col-4</p></div>
        </div>

        <div class="row">
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
          <div class="col-12 md:col-auto"><p class="ebox">col-auto</p></div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row">
          <div class="col-auto">...</div>
        </div>

        <div class="row">
          <div class="col-auto">...</div>
          <div class="col-5">...</div>
        </div>

        <div class="row">
          <div class="col-auto">...</div>
          <div class="col-auto">...</div>
          <div class="col-auto">...</div>
          <div class="col-auto">...</div>
          <div class="col-auto">...</div>
          <div class="col-auto">...</div>
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Variable</h2>
      <ul>
        <li>Takes on the width of the content inside of the column.</li>
        <li>Best utilized with content that has a max-width or set width.</li>
        <li>Variable columns work great with positioning helper classes.</li>
        <li>If the column does not fit inside of the row, the column will wrap to new line.</li>
      </ul>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <div class="row">
          <div class="col-variable"><p class="ebox">col-variable</p></div>
          <div class="col-variable"><p class="ebox">[I am taking on the width of content]</p></div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row">
          <div class="col-variable">...</div>
          <div class="col-variable">...</div>
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Offset</h2>
      <ul>
        <li>Offset content from left side.</li>
        <li>Offset values range from 1-12.</li>
        <li>Make sure your offset value equals 100% when combined with offset columns. Otherwise content will wrap to a new row.</li>
      </ul>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <div class="row mb-1">
          <div class="col-offset-1 col-auto"><p class="ebox">col-offset-1</p></div>
        </div>
        <div class="row mb-1">
          <div class="col-offset-2 col-auto"><p class="ebox">col-offset-2</p></div>
        </div>
        <div class="row mb-1">
          <div class="col-offset-3 col-auto"><p class="ebox">col-offset-3</p></div>
        </div>
        <div class="row mb-1">
          <div class="col-offset-4 col-auto"><p class="ebox">col-offset-4</p></div>
        </div>
        <div class="row mb-1">
          <div class="col-offset-5 col-auto"><p class="ebox">col-offset-5</p></div>
        </div>
        <div class="row mb-1">
          <div class="col-offset-6 col-auto"><p class="ebox">col-offset-6</p></div>
        </div>
        <div class="row mb-1">
          <div class="col-offset-7 col-auto"><p class="ebox">col-offset-7</p></div>
        </div>
        <div class="row mb-1">
          <div class="col-offset-8 col-auto"><p class="ebox">col-offset-8</p></div>
        </div>
        <div class="row">
          <div class="col-offset-9 col-auto"><p class="ebox">col-offset-9</p></div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row">
          <div class="col-offset-1 col-auto">...</div>
        </div>

        <div class="row">
          <div class="col-offset-4 col-5">...</div>
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Align Items</h2>
      <ul>
        <li>Column positioning along the cross axis.</li>
        <li>By default the column behavior is to use stretch.</li>
        <li>Add responsive modifiers <code> sm:, md:, lg:, xl:</code></li>
      </ul>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <div class="sg-row sg-row--fshort">
          <div class="row gutter-narrow">
            <div class="col-auto"><div class="ebox"></div></div>
            <div class="col-auto"><div class="ebox"></div></div>
            <div class="col-auto"><div class="ebox"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>items-start</code>
        <div class="sg-row sg-row--fshort mt-2">
          <div class="row gutter-narrow items-start">
            <div class="col-auto"><div class="ebox ebox--short"></div></div>
            <div class="col-auto"><div class="ebox ebox--tall"></div></div>
            <div class="col-auto"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row items-start">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>items-center</code>
        <div class="sg-row sg-row--fshort mt-2">
          <div class="row gutter-narrow items-center">
            <div class="col-auto"><div class="ebox ebox--short"></div></div>
            <div class="col-auto"><div class="ebox ebox--tall"></div></div>
            <div class="col-auto"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row items-center">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>items-end</code>
        <div class="sg-row sg-row--fshort mt-2">
          <div class="row gutter-narrow items-end">
            <div class="col-auto"><div class="ebox ebox--short"></div></div>
            <div class="col-auto"><div class="ebox ebox--tall"></div></div>
            <div class="col-auto"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row items-end">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Align Content</h2>
      <ul>
        <li>Column positioning in multi-line rows.</li>
        <li>Will only work if there are multiple lines of columns.</li>
        <li>Your row container must have a fixed or height greater than the column height.</li>
        <li>Add responsive modifiers <code> sm:, md:, lg:, xl:</code></li>
      </ul>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <code>content-start</code>
        <div class="sg-row sg-row--ftall mt-2">
          <div class="row gutter-narrow content-start">
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row content-start">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>content-center</code>
        <div class="sg-row sg-row--ftall mt-2">
          <div class="row gutter-narrow content-center">
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row content-center">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>content-end</code>
        <div class="sg-row sg-row--ftall mt-2">
          <div class="row gutter-narrow content-end">
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row content-end">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>content-around</code>
        <div class="sg-row sg-row--ftall mt-2">
          <div class="row gutter-narrow content-around">
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row content-around">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>content-between</code>
        <div class="sg-row sg-row--ftall mt-2">
          <div class="row gutter-narrow content-between">
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
            <div class="col-4"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row content-between">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Justify Content</h2>
      <ul>
        <li>Column positioning along the main axis.</li>
        <li>Add responsive modifiers <code> sm:, md:, lg:, xl:</code></li>
      </ul>
    </div>

    <div class="codeExample">
      <div class="codeExample__live">
        <code>justify-start</code>
        <div class="sg-row mt-2">
          <div class="row gutter-narrow justify-start">
            <div class="col-3"><div class="ebox ebox--short"></div></div>
            <div class="col-3"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row justify-start">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>justify-center</code>
        <div class="sg-row mt-2">
          <div class="row gutter-narrow justify-center">
            <div class="col-3"><div class="ebox ebox--short"></div></div>
            <div class="col-3"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row justify-center">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>justify-end</code>
        <div class="sg-row mt-2">
          <div class="row gutter-narrow justify-end">
            <div class="col-3"><div class="ebox ebox--short"></div></div>
            <div class="col-3"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row justify-end">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>justify-around</code>
        <div class="sg-row mt-2">
          <div class="row gutter-narrow justify-around">
            <div class="col-3"><div class="ebox ebox--short"></div></div>
            <div class="col-3"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row justify-around">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>justify-between</code>
        <div class="sg-row mt-2">
          <div class="row gutter-narrow justify-between">
            <div class="col-3"><div class="ebox ebox--short"></div></div>
            <div class="col-3"><div class="ebox ebox--short"></div></div>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```html.line-numbers
        <div class="row justify-between">
          ...
        </div>
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
