{% extends '_layout/page.html' %}

{% set pageTitle = 'Hide &amp; Show' %}
{% set pageActiveNode = 'hide-show' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Hide</h2>
      <ul>
        <li>Hide content based on viewport size.</li>
        <li>Resize the browser window to see containers appear and disappear.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>hide</code>
          <p>Hidden all the time.</p>
        </div>

        <div class="exampleGroup">
          <code>hide-sm</code>
          <p>Hidden on viewports >= 480px and < 600px.</p>
          <div class="ebox hide-sm mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>hide-md</code>
          <p>Hidden on viewports >= 600px and < 980px.</p>
          <div class="ebox hide-md mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>hide-lg</code>
          <p>Hidden on viewports >= 980px and < 1280px.</p>
          <div class="ebox hide-lg mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>hide-xl</code>
          <p>Hidden on viewports >= 1280px.</p>
          <div class="ebox hide-xl mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>hide-mobile</code>
          <p>Hidden on viewports < 600px.</p>
          <div class="ebox hide-mobile mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>hide-tablet</code>
          <p>Hidden on viewports >= 600px and < 980px.</p>
          <div class="ebox hide-tablet mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>hide-desktop</code>
          <p>Hidden on viewports >= 980px.</p>
          <div class="ebox hide-desktop mt-1">[content]</div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        <div class="hide"></div>
        <div class="hide-sm"></div>
        <div class="hide-md"></div>
        <div class="hide-lg"></div>
        <div class="hide-xl"></div>
        <div class="hide-mobile"></div>
        <div class="hide-tablet"></div>
        <div class="hide-desktop"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Hide Visually</h2>
      <ul>
        <li>Element is hidden visually, but readable by screen readers.</li>
          <li>This works great if there's a piece of copy describing an area to screen readers. An alternate and much more prefered method would be to utilize <code>aria-label=""</code> on the element.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# // with .hide-visually #}
        <button type="button">
          <span class="hide-visually">Close menu</span>
        </button>

        {# // with aria-label="" #}
        <button type="button" aria-label="Close menu"></button>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Show</h2>
      <ul>
        <li>Show content based on viewport size.</li>
        <li>Resize the browser window to see containers appear and disappear.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>show-mobile</code>
          <p>Visible on mobile viewports < 600px.</p>
          <div class="ebox show-mobile mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>show-tablet</code>
          <p>Visible on tablet viewports >= 600px and < 980px.</p>
          <div class="ebox show-tablet mt-1">[content]</div>
        </div>

        <div class="exampleGroup">
          <code>show-desktop</code>
          <p>Visible on viewports >= 980px.</p>
          <div class="ebox show-desktop mt-1">[content]</div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        <div class="show-mobile"></div>
        <div class="show-tablet"></div>
        <div class="show-desktop"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
