{% extends '_layout/page.html' %}

{% set pageTitle = 'Letter Spacing' %}
{% set pageActiveNode = 'letter-spacing' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <p>Utilities for controlling letter spacing of an element.</p>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>tracking-tight</code>
          <p class="mt-1 tracking-tight">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>tracking-normal</code>
          <p class="mt-1 tracking-normal">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>tracking-wide</code>
          <p class="mt-1 tracking-wide">The quick brown fox jumps over the lazy dog.</p>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="tracking-tight"></div>
        <div class="tracking-normal"></div>
        <div class="tracking-wide"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
