{% extends '_layout/page.html' %}

{% set pageTitle = 'Line Height' %}
{% set pageActiveNode = 'line-height' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <p>Utilities for controlling the leading (line height) of an element.</p>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>leading-none</code>
          <p class="mt-1 leading-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quia temporibus eveniet a libero incidunt suscipit laborum, rerum accusantium modi quidem, ipsam illum quis sed voluptatum quae eum fugit earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <div class="exampleGroup">
          <code>leading-tight</code>
          <p class="mt-1 leading-tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quia temporibus eveniet a libero incidunt suscipit laborum, rerum accusantium modi quidem, ipsam illum quis sed voluptatum quae eum fugit earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <div class="exampleGroup">
          <code>leading-default</code>
          <p class="mt-1 leading-default">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quia temporibus eveniet a libero incidunt suscipit laborum, rerum accusantium modi quidem, ipsam illum quis sed voluptatum quae eum fugit earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <div class="exampleGroup">
          <code>leading-loose</code>
          <p class="mt-1 leading-loose">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quia temporibus eveniet a libero incidunt suscipit laborum, rerum accusantium modi quidem, ipsam illum quis sed voluptatum quae eum fugit earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
        <div class="exampleGroup">
          <code>leading-inherit</code>
          <p class="mt-1 leading-inherit">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quia temporibus eveniet a libero incidunt suscipit laborum, rerum accusantium modi quidem, ipsam illum quis sed voluptatum quae eum fugit earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="leading-none"></div>
        <div class="leading-tight"></div>
        <div class="leading-default"></div>
        <div class="leading-loose"></div>
        <div class="leading-inherit"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
