{% extends '_layout/page.html' %}

{% set pageTitle = 'Overflow' %}
{% set pageActiveNode = 'overflow' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Utility classes for changing the overflow of content on an element</li>
        <li>Class: <code>overflow-[value]</code></li>
        <li>Responsive class: <code>[breakpoint]:overflow-[class]</code></li>
        <li>Available values: <code>auto</code>, <code>hidden</code>, <code>scroll</code>, and <code>visible</code></li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>overflow-auto</code>
          <div class="whitespace-nowrap overflow-auto mt-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="exampleGroup">
          <code>overflow-hidden</code>
          <div class="whitespace-nowrap overflow-hidden mt-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="exampleGroup">
          <code>overflow-scroll</code>
          <div class="whitespace-nowrap overflow-scroll mt-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="exampleGroup">
          <code>overflow-visible</code>
          <div class="whitespace-nowrap overflow-visible mt-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="overflow-auto"></div>
        <div class="overflow-hidden"></div>
        <div class="overflow-scroll"></div>
        <div class="overflow-visible"></div>

        {# Responsive Example #}
        <div class="overflow-auto md:overflow-hidden"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
