{% extends '_layout/page.html' %}

{% set pageTitle = 'Position' %}
{% set pageActiveNode = 'position' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Utility class to specify positioning of an element.</li>
        <li>Base class: <code>position-[value]</code></li>
        <li>Responsive class: <code>[breakpoint]:[class]</code></li>
        <li>Available values: <code>initial</code>, <code>relative</code>, <code>fixed</code>, <code>sticky</code>, and <code>absolute</code>.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="position-initial"></div>
        <div class="position-relative"></div>
        <div class="position-fixed"></div>
        <div class="position-sticky"></div>
        <div class="position-absolute"></div>

        {# Responsive Example #}
        <div class="position-fixed md:position-initial"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
