{% extends '_layout/page.html' %}

{% set pageTitle = 'Padding &amp; Margin' %}
{% set pageActiveNode = 'spacing' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Control an element's padding and margin using the <code>.p[side]-[size]</code> and <code>.m[side]-[size]</code> utilities.</li>
        <li>Add responsive modifiers to control padding and margin by breakpoint <code> sm:, md:, lg:, xl:</code></li>
      </ul>

      <table class="codeTable mb-2">
        <thead>
          <th>Type</th>
          <th>Side</th>
          <th>Size</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="whitespace-nowrap"><code>p</code> Padding</div>
              <div class="whitespace-nowrap"><code>m</code> Margin</div>
            </td>
            <td>
              <div class="whitespace-nowrap"><code>t</code> Top</div>
              <div class="whitespace-nowrap"><code>r</code> Right</div>
              <div class="whitespace-nowrap"><code>b</code> Bottom</div>
              <div class="whitespace-nowrap"><code>l</code> Left</div>
              <div class="whitespace-nowrap"><code>x</code> Horizontal</div>
              <div class="whitespace-nowrap"><code>y</code> Vertical</div>
            </td>
            <td>
              <div class="whitespace-nowrap"><code>0</code> Zero</div>
              <div class="whitespace-nowrap"><code>1</code> 10px</div>
              <div class="whitespace-nowrap"><code>2</code> 20px</div>
              <div class="whitespace-nowrap"><code>3</code> 40px</div>
              <div class="whitespace-nowrap"><code>4</code> 80px</div>
              <div class="whitespace-nowrap"><code>auto</code></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="pt-3"></div>
        <div class="mb-1"></div>
        <div class="pl-1"></div>
        <div class="mx-auto"></div>

        {# Responsive Example #}
        <div class="mb-1 lg:mb-3"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
