{% extends '_layout/page.html' %}

{% set pageTitle = 'Style &amp; Decoration' %}
{% set pageActiveNode = 'text-style' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Font Style</h2>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>style-italic</code>
          <p class="mt-1 style-italic">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>style-roman</code>
          <p class="mt-1 style-roman">The quick brown fox jumps over the lazy dog.</p>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="style-italic"> ... </div>
        <div class="style-roman"> ... </div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2>Text Decoration</h2>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>decoration-none</code>
          <p class="mt-1 decoration-none">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>decoration-underline</code>
          <p class="mt-1 decoration-underline">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>decoration-overline</code>
          <p class="mt-1 decoration-overline">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>decoration-strike</code>
          <p class="mt-1 decoration-strike">The quick brown fox jumps over the lazy dog.</p>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="decoration-none"> ... </div>
        <div class="decoration-underline"> ... </div>
        <div class="decoration-overline"> ... </div>
        <div class="decoration-strike"> ... </div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>

  <section>
    <div class="codeCopy">
      <h2>Text Transform</h2>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>transform-capitalize</code>
          <p class="mt-1 transform-capitalize">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>transform-lowercase</code>
          <p class="mt-1 transform-lowercase">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>transform-uppercase</code>
          <p class="mt-1 transform-uppercase">The quick brown fox jumps over the lazy dog.</p>
        </div>
        <div class="exampleGroup">
          <code>transform-none</code>
          <p class="mt-1 transform-none">The quick brown fox jumps over the lazy dog.</p>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="transform-capitalize"> ... </div>
        <div class="transform-lowercase"> ... </div>
        <div class="transform-uppercase"> ... </div>
        <div class="transform-none"> ... </div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
