{% extends '_layout/page.html' %}

{% set pageTitle = 'Text Weight' %}
{% set pageActiveNode = 'text-weight' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <table class="codeTable mb-2">
        <thead>
          <th>Weight</th>
          <th>Class</th>
        </thead>
        <tbody>
          <tr>
            <td class="weight-light">300</td>
            <td><code>weight-light</code></td>
          </tr>
          <tr>
            <td class="weight-normal">400</td>
            <td><code>weight-normal</code></td>
          </tr>
          <tr>
            <td class="weight-semibold">600</td>
            <td><code>weight-semibold</code></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <p class="weight-light"></p>
        <p class="weight-normal"></p>
        <p class="weight-semibold"></p>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
