{% extends '_layout/page.html' %}

{% set pageTitle = 'Text Alignment' %}
{% set pageActiveNode = 'text-alignment' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Align non-block elements.</li>
        <li>Class: <code>align-[placement]</code></li>
        <li>Responsive class: <code>[breakpoint]:align-[placement]</code></li>
        <li>Available placements: <code>left</code>, <code>center</code>, <code>right</code>, or <code>inherit</code></li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__live">
        <code>align-left</code>
        <p class="ebox mt-1 mb-3 align-left">[ This text is left aligned. ]</p>
        <code>align-center</code>
        <p class="ebox mt-1 mb-3 align-center">[ I'm centered! ]</p>
        <code>align-right</code>
        <p class="ebox mt-1 mb-3 align-right">[ This text is right aligned. ]</p>
        <code>align-inherit</code>
        <p class="ebox mt-1 align-inherit">[ I inherit the alignment of my parent. In this case, that means left. ]</p>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <p class="align-right"></p>
        <p class="align-left"></p>
        <p class="align-center"></p>
        <p class="align-inherit"></p>

        {# Responsive #}
        <p class="align-left lg:align-center"></p>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
