{% extends '_layout/page.html' %}

{% set pageTitle = 'Whitespace &amp; Wrapping' %}
{% set pageActiveNode = 'text-wrapping' %}

{% block content %}
  <section>
    <div class="codeExample">
      <div class="codeExample__live">
        <div class="exampleGroup">
          <code>whitespace-normal</code>
          <p class="mt-1 whitespace-normal">Fusce orci lorem, finibus sed tincidunt at, posuere ut nunc. Donec eleifend massa nulla, at aliquet purus malesuada a. Sed suscipit dolor quis auctor interdum. Curabitur sapien felis, accumsan et elementum vitae, mollis quis sapien.</p>
        </div>
        <div class="exampleGroup">
          <code>whitespace-nowrap</code>
          <p class="mt-1 whitespace-nowrap">Fusce orci lorem, finibus sed tincidunt at, posuere ut nunc. Donec eleifend massa nulla, at aliquet purus malesuada a. Sed suscipit dolor quis auctor interdum. Curabitur sapien felis, accumsan et elementum vitae, mollis quis sapien.</p>
        </div>
        <div class="exampleGroup">
          <code>break-normal</code>
          <p class="mt-1 break-normal">Honorificabilitudinitatibus califragilisticexpialidocious Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu 次の単語グレートブリテンおよび北アイルランド連合王国で本当に大きな言葉</p>
        </div>
        <div class="exampleGroup">
          <code>break-word</code>
          <p class="mt-1 break-word">Honorificabilitudinitatibus califragilisticexpialidocious Taumatawhakatangihangakoauauotamateaturipukakapikimaungahoronukupokaiwhenuakitanatahu 次の単語グレートブリテンおよび北アイルランド連合王国で本当に大きな言葉</p>
        </div>
        <div class="exampleGroup">
          <code>truncate</code>
          <p class="mt-1 truncate">Fusce orci lorem, finibus sed tincidunt at, posuere ut nunc. Donec eleifend massa nulla, at aliquet purus malesuada a. Sed suscipit dolor quis auctor interdum. Curabitur sapien felis, accumsan et elementum vitae, mollis quis sapien.</p>
        </div>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <div class="whitespace-normal"></div>
        <div class="whitespace-nowrap"></div>
        <div class="break-normal"></div>
        <div class="break-word"></div>
        <div class="truncate"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
