{% extends '_layout/page.html' %}

{% set pageTitle = 'Vertical Alignment' %}
{% set pageActiveNode = 'vertical-alignment' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2 class="codeHeadline">Overview</h2>
      <ul>
        <li>Utility class to define vertical alignment of element.</li>
        <li>Class: <code>va-[position]</code></li>
        <li>Responsive: <code>[breakpoint]:va-[position]</code></li>
        <li>Available positions: <code>baseline</code>, <code>top</code>, <code>middle</code>, <code>bottom</code>, <code>text-top</code>, and <code>text-bottom</code></li>
        <li>Note: Vertical align only works on inline-level elements: <code>display: inline</code> and <code>display: inline-block</code></li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```twig.line-numbers
        {% verbatim %}
        {# Default #}
        <span class="va-baseline"></span>
        <span class="va-top"></span>
        <span class="va-middle"></span>
        <span class="va-bottom"></span>
        <span class="va-text-top"></span>
        <span class="va-text-bottom"></span>

        {# Responsive Example #}
        <div class="va-baseline md:va-middle"></div>
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
