{% extends '_layout/page.html' %}

{% set pageTitle = 'em() &amp; rem()' %}
{% set pageActiveNode = 'set-unit' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <p>For detailed information on why it's not recommended to utilize pixels/absolute units on the web, please reference linked articles below.</p>
      <p>With that said, we can't get away from pixel/absoulute units either. All of our design assets today come in pixels. So to keep a connection between design and code, we will use SCSS functions to convert to em or rem units.</p>
      <ul>
        <li><a href="https://engageinteractive.co.uk/blog/em-vs-rem-vs-px">EM vs REM vs PX – Why you shouldn't “just use pixels”</a></li>
        <li><a href="https://zellwk.com/blog/rem-vs-em/">REM vs EM – The Great Debate</a></li>
        <li><a href="https://zellwk.com/blog/media-query-units/">PX, EM or REM Media Queries?</a></li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__live codeCopy">
        <h3>rem()</h3>
        <ul>
          <li>By default all rem units are converted to 10 base. This makes it easy to interpret when debugging.</li>
          <li>The <code>rem()</code> function accepts all standard values as it would if you were to write regular css.</li>
          <li>Only pixels values are converted to rem.</li>
          <li>rem units are relative to <code>html</code>.</li>
        </ul>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```scss.line-numbers
        {% verbatim %}
        // rem input
        .class {
          font-size: rem(30px);
          padding: rem(0 20px 10%);
        }

        // rem output
        .class {
          font-size: 3rem;
          padding: 0 2rem 10%;
        }

        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>

    <div class="codeExample">
      <div class="codeExample__live codeCopy">
        <h3>em()</h3>
        <ul>
          <li>All conversions are done off of a 16px base.</li>
          <li>The <code>em()</code> function accepts only one pixel value.</li>
          <li>em units are relative to the parent container.</li>
          <li>It's not always required to use the em function. Consider if you are trying to scale a subscript, you could simply say it's 90% of the current font size found in the parent container. For example: <code>font-size: .9em;</code></code></li>
        </ul>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```scss.line-numbers
        {% verbatim %}
        // em input
        .class {
          font-size: em(16px);
        }

        // em output
        .class {
          font-size: 1.875em;
        }

        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
