{% extends '_layout/page.html' %}

{% set pageTitle = 'set-state()' %}
{% set pageActiveNode = 'set-state' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <p>Utility mixin() to easily set common target states.</p>
      <ul>
        <li>Instead of having to write <code>:hover</code>, <code>:focus</code>, and <code>:active</code> each time. We can utilize a mixin to add efficiency.</li>
        <li>Setting mixin to <code>set-font(true)</code> will also include self. A benefit of this is if you want to apply the same styles across all states and to self.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```scss.line-numbers
        {% verbatim %}
        // basic example
        .class {
          color: blue;

          @include set-state() {
            color: red;
          }
        }

        // example including self in output
        .anotherClass {
          @include set-state(true) {
            color: green
          }
        }

        // output of basic example
        .class {
          color: blue;
        }

        // output of basic example hover states
        .class:hover,
        .class:focus,
        .class:active {
          color: red;
        }

        // output of example including self
        .anotherClass,
        .anotherClass:hover,
        .anotherClass:focus,
        .anotherClass:active {
          color: green;
        }

        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
