{% extends '_layout/page.html' %}

{% set pageTitle = 'set-color()' %}
{% set pageActiveNode = 'set-color' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <p>Utility function to easily set color and tone from a SCSS map.</p>
      <ul>
        <li>For the function to work properly, a SCSS map of <code>$colors: ()</code> needs to exist.</li>
        <li>Each color at minimum must contain a base value.</li>
        <li>The colors map is defined on the site level.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```scss.line-numbers
        {% verbatim %}
        // color map
        $colors: (
          white: (
            base: #fff
          ),
          black: (
            base: #000,
            light: #2e2c2c
          ),
          onyx: (
            base: #3d3833,
            60: rgba(#3d3833, 0.6),
            40: rgba(#3d3833, 0.4),
            10: rgba(#3d3833, 0.1)
          )
        );

        // input
        .class {
          color: set-color(white);
          color: set-color(black, light);
          color: set-color(onyx, 40);
        }

        // output
        .class {
          color: #fff;
          color: #2e2c2c;
          color: rgba(33,36,48, .4);
        }
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
