{% extends '_layout/page.html' %}

{% set pageTitle = 'set-font()' %}
{% set pageActiveNode = 'set-font' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <p>Utility mixin to easily set a font-family and font-weight.</p>
      <ul>
        <li>The mixin() automatically adds in a font-weight of 400 to each entry. </li>
        <li>The font-weight can be replaced by a different value.</li>
      </ul>
    </div>
    <div class="codeExample">
      <div class="codeExample__code">
        {% markdown %}
        ```scss.line-numbers
        {% verbatim %}
        // available families
        $font-titillium: 'Titillium Web', sans-serif;
        $font-roboto: 'Roboto', sans-serif;
        $font-system: 'Avenir', -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif;
        $font-mono: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;

        // input
        .class {
          @include set-font($font-titillium);
        }
        .anotherClass {
          @include set-font($font-roboto, 600);
        }

        // output
        .class {
          font-family: 'Titillium Web', sans-serif;
          font-weight: 400;
        }
        .anotherClass {
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
        }

        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
