{% extends '_layout/page.html' %}

{% set pageTitle = 'Media Queries' %}
{% set pageActiveNode = 'media-queries' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <h2>Overview</h2>
      <p>Commercial Shared Styles aims to add consistency throughout your project. One area consistency matters the most is with media queries. We want to assure content breaks in a consistent matter between different viewports.</p>
      <p>As a developer you are constantly aiming to write your code as efficiently as possible. And to do that, we need a consistent set of values to reference for our media query breakpoints. Furthermore we need a reliable way of naming them.</p>
      <p>To accomplish all of the above, commercial-shared-styles relies on a public SCSS library <a href="https://include-media.com/">include-media</a>. Please reference the <a href="https://include-media.com/documentation/">include-media documentation</a> for additional details not covered here.</p>
      <p>Whenver possible your media queries should always utilize the mobile-first approach of <code>>=</code>.</p>
    </div>

    <div class="codeExample">
      <div class="codeExample__live codeCopy">
        <h3>Breakpoints</h3>
        <ul>
          <li>For commercial-shared-styles the breakpoints are defined as: <code>sm</code>, <code>md</code>, <code>lg</code>, and <code>xl</code></li>
          <li>These set breakpoints allow us to easily reference a specific breakpoint across the website. If for whatever reason we need to change a breakpoint down the road, it will be updated across all of our SCSS files where the media query breakpoint was used.</li>
          <li>Not only are these breakpoints used for media queries, we are also using the names for our responsive utility class modifies. For example a responsive modified would be: <code>md:className</code>. The <code>md:</code> in the class name aligns with the media query <code>md</code> breakpoint.</li>
        </ul>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```scss.line-numbers
        {% verbatim %}
        $breakpoints: (
          sm: 480px,
          md: 600px,
          lg: 980px,
          xl: 1280px
        );
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>

    <div class="codeExample">
      <div class="codeExample__live codeCopy">
        <h3>Usage</h3>
        <ul>
          <li>We use a mixin provided by include-media. The mixin being <code>@include media() { ... }</code></li>
          <li>The mixin supports predefined values set in the <code>$breakpoints</code> map, as well as custom values when absolutely needed.</li>
          <li>Use <code>>=</code> for min-width, and use <code><</code> for max-width.</li>
        </ul>
      </div>
      <div class="codeExample__code">
        {% markdown %}
        ```scss.line-numbers
        {% verbatim %}
        /* mobile-first or min-width */
        .class {
          // styles for viewports >= 480px
          @include media('>=sm') { ... }

          // styles for viewports >= 600px
          @include media('>=md') { ... }

          // styles for viewports >= 980px
          @include media('>=lg') { ... }

          // styles for viewports >= 1280px
          @include media('>=xl') { ... }
        }

        /* desktop-first or max-width */
        .class {
          // styles for viewports < 480px
          @include media('<sm') { ... }

          // styles for viewports < 600px
          @include media('<md') { ... }

          // styles for viewports < 980px
          @include media('<lg') { ... }

          // styles for viewports < 1280px
          @include media('<xl') { ... }
        }

        /* custom values */
        .class {
          // styles for viewports >= 768px
          @include media('>=768px') { ... }

          // styles for viewports < 1200px
          @include media('<1200px') { ... }
        }

        /* combine */
        .class {
          // styles for viewports >= 600px and < 980px
          @include media('>=md', '<lg') { ... }

          // styles for viewports >= 500px and < 980px
          @include media('>=500px', '<lg') { ... }
        }
        {% endverbatim %}
        ```
        {% endmarkdown %}
      </div>
    </div>
  </section>
{% endblock %}
