// ================================
// Root Variables
// ================================

:root {
  --root__html-fontSize: 100%;
  --root__outline-color: #5db7a5;
  --root__selection-background: #{rgba(#f00, 0.4)};
  --root__selection-color: #fff;
}
