{% extends '_layout/page.html' %}

{% set pageTitle = 'About' %}
{% set pageActiveNode = 'about' %}

{% block content %}
  <section>
    <div class="codeCopy">
      <p>Browse through sidebar for detailed notes on utility classes.</p>
      <p>[additional details coming]</p>
    </div>
  </section>
{% endblock %}
