<!doctype html>
<html class="no-js" lang="" theme="{{ theme }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ global.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Titillium+Web:400,600,700">
    <link rel="stylesheet" href="../shared.css">
    <link rel="stylesheet" href="../styleguide.css">
  </head>

  <body>

    <div class="app">
      <header class="layoutHeader">
        <a href="/">Commercial Shared Styles</a>
      </header>

      <div class="layoutContent row gutter-gapless">
        <nav class="layoutNav col-2">
          {% for item in global.menu %}
            {% if item.group %}
              <button type="button" class="layoutNav__button">{{ item.group }}</button>
              {% if item.sub %}
                <ul class="layoutNav__menu" role="menu">
                  {% for sub in item.sub %}
                    {% set nodeIsActive = (pageActiveNode == sub.activeNode) ? 'is-active' : '' %}
                    <li role="menuitem"><a href="{{ sub.permalink }}" class="layoutNav__link {{ nodeIsActive }}">{{ sub.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          {% endfor %}
        </nav>

        <main class="layoutMain col-10">
          {% block page %}{% endblock %}
        </main>
      </div>

      <footer class="layoutFooter"></footer>
    </div>

    <script type="text/javascript" src="{{ options.pathScripts }}/guide/prism.js?v={{ package.version }}"></script>
    <script type="text/javascript" src="{{ options.pathScripts }}/app.js?v={{ package.version }}"></script>
    <script type="text/javascript" src="{{ options.pathScripts }}/docs.js?v={{ package.version }}"></script>
  </body>
</html>
