{% extends '/_layout/base.html' %} 

{% block page %} 
<article class="landing-home">
  <header class="pageHeader">
    <h1>{{ pageTitle }}</h1>
  </header>
  
  <div class="pageContent">
    {% block content %}{% endblock %}
  </div>
</article> 
{% endblock %}
