// ================================
// Tools: Get em
// ================================

/**
 * Convert values into em units.
 * @param {string} $pixels - Unit value. Can only be single.
 * @param {string} $context [$base-multiplier-em] - Set unit base, or defaults to defined value in settings.
 *
 * @example scss - Use with single or multiple units
 *  font-size: em(20px);
 *
 * @example scss - Use with a base unit size
 *  font-size: em(20px, 12px);
 */

// Base unit multiplier for em conversion
$base-multiplier-em: 18px !default;

// Function to get em value
@function em($pixels, $context: $base-multiplier-em) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}
