// ================================
// Utilities: Alignments
// ================================

$alignments: (
  inherit: inherit,
  left: left,
  center: center,
  right: right
) !default;

@include set-selectors($alignments, 'text-align', 'align-');
