// ================================
// Utilities: Background
// ================================

$bgPosition: (
  bottom: bottom,
  center: center,
  left: left,
  left-bottom: left bottom,
  left-top: left top,
  right: right,
  right-bottom: right bottom,
  right-top: right top,
  top: top
) !default;

$bgRepeat: (
  repeat: repeat,
  no-repeat: no-repeat,
  repeat-x: repeat-x,
  repeat-y: repeat-y
) !default;

$bgSize: (
  auto: auto,
  cover: cover,
  contain: contain,
  contain-x: 100% auto,
  contain-y: auto 100%
) !default;

@include set-selectors($bgPosition, 'background-position', 'bg-');
@include set-selectors($bgRepeat, 'background-repeat', 'bg-');
@include set-selectors($bgSize, 'background-size', 'bg-');
