// ================================
// Flex Columns
// ================================

$rowGutters: (
  gapless: rem(0px),
  default: rem(-$flex-gutter),
  narrow: rem(-$flex-gutter/2),
  wide: rem(-$flex-gutter * 2)
) !default;

$flexDirection: (
  row: row,
  row-reverse: row-reverse,
  column: column,
  column-reverse: column-reverse
) !default;

// --------------------------------
// Row
// --------------------------------

.row {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-right: rem(-$flex-gutter);
  margin-left: rem(-$flex-gutter);
}

// --------------------------------
// Flex Direction
// --------------------------------

@include set-selectors($flexDirection, 'flex-direction', 'direction-');

// --------------------------------
// Row Gutters
// --------------------------------

// base gutter
@each $label, $value in $rowGutters {
  .gutter-#{$label} {
    margin-left: $value;
    margin-right: $value;

    > [class*='col-'] {
      padding-right: calc(-1 * #{$value});
      padding-left: calc(-1 * #{$value});
    }
  }
}

// responsive gutter
@each $breakpoint in map-keys($breakpoints) {
  @include media(#{'>=' + $breakpoint}) {
    @each $label, $value in $rowGutters {
      .#{$breakpoint}\:gutter-#{$label} {
        margin-left: $value;
        margin-right: $value;

        > [class*='col-'] {
          padding-right: calc(-1 * #{$value});
          padding-left: calc(-1 * #{$value});
        }
      }
    }
  }
}

// --------------------------------
// Column Spacing
// --------------------------------

[class*='col-'] {
  flex: 0 0 auto;
  padding-right: rem($flex-gutter);
  padding-left: rem($flex-gutter);
}

@include columns($flex-columns);
@include columns-offsets($flex-columns);
@include columns-helpers;

// Display grid lines
// @if $enable-gridlines {
//   body {
//     background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
//     background-position: left -1px;
//     background-repeat: repeat;
//     background-size: 20px 20px;
//   }
// }
