// ================================
// Container
// ================================

.container,
%container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($container-gutter-small);
  padding-right: rem($container-gutter-small);

  @include media('>=lg') {
    padding-left: rem($container-gutter-large * 2);
    padding-right: rem($container-gutter-large * 2);
  }
}

@each $size, $width in $containers {
  .container-#{$size},
  %container-#{$size} {
    @extend %container;
    max-width: $width;
  }
}

.gr\:container-flush {
  @include media('>=1450px') {
    max-width: none;
  }
}
