// ================================
// Utilities: Display
// ================================

$displays: (
  block: block,
  inline: inline,
  inlineblock: inline-block,
  flex: flex,
  inlineflex: inline-flex
) !default;

@include set-selectors($displays, 'display', 'display-');
