// ================================
// Utilities: Hide
// ================================

.hide {
  display: none !important;
}

.hide-sm {
  @include media('>=sm', '<md') {
    display: none !important;
  }
}

.hide-md {
  @include media('>=md', '<lg') {
    display: none !important;
  }
}

.hide-lg {
  @include media('>=lg', '<xl') {
    display: none !important;
  }
}

.hide-xl {
  @include media('>=xl') {
    display: none !important;
  }
}

.hide-mobile {
  @include media('<md') {
    display: none !important;
  }
}

.hide-tablet {
  @include media('>=md', '<lg') {
    display: none !important;
  }
}

.hide-desktop {
  @include media('>=lg') {
    display: none !important;
  }
}

.hide-visually {
  @extend %visually-hidden;
}
