// ================================
// Utilities: Letter Spacing
// ================================

$letterSpacing: (
  tight: -0.05em,
  normal: 0,
  wide: 0.05em
) !default;

@include set-selectors($letterSpacing, 'letter-spacing', 'tracking-');
