// ================================
// Utilities: Line-Height
// ================================

$lineHeight: (
  none: 1,
  tight: 1.25,
  loose: 2,
  default: unset,
  inherit: inherit
) !default;

@include set-selectors($lineHeight, 'line-height', 'leading-');
