// ================================
// Utilities: Overflow
// ================================

$overflow: (
  auto: auto,
  hidden: hidden,
  visible: visible,
  scroll: scroll
) !default;

@include set-selectors($overflow, 'overflow', 'overflow-');
