// ================================
// Utilities: Padding
// ================================

$paddings: (
  0: 0,
  1: rem(10px),
  2: rem(20px),
  3: rem(40px),
  4: rem(80px)
) !default;

@each $label, $value in $paddings {
  .pa-#{$label} {
    padding: $value;
  }
}

@each $label, $value in $paddings {
  .pt-#{$label} {
    padding-top: $value;
  }
}

@each $label, $value in $paddings {
  .pb-#{$label} {
    padding-bottom: $value;
  }
}

@each $label, $value in $paddings {
  .pl-#{$label} {
    padding-left: $value;
  }
}

@each $label, $value in $paddings {
  .pr-#{$label} {
    padding-right: $value;
  }
}

@each $label, $value in $paddings {
  .px-#{$label} {
    padding-left: $value;
    padding-right: $value;
  }
}

@each $label, $value in $paddings {
  .py-#{$label} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

// --------------------------------
// Responsive Padding
// --------------------------------

@each $breakpoint in map-keys($breakpoints) {
  @include media(#{'>=' + $breakpoint}) {
    @each $label, $value in $paddings {
      .#{$breakpoint}\:pt-#{$label} {
        padding-top: $value;
      }
    }

    @each $label, $value in $paddings {
      .#{$breakpoint}\:pb-#{$label} {
        padding-bottom: $value;
      }
    }

    @each $label, $value in $paddings {
      .#{$breakpoint}\:pl-#{$label} {
        padding-left: $value;
      }
    }

    @each $label, $value in $paddings {
      .#{$breakpoint}\:pr-#{$label} {
        padding-right: $value;
      }
    }

    @each $label, $value in $margins {
      .#{$breakpoint}\:px-#{$label} {
        padding-left: $value;
        padding-right: $value;
      }
    }

    @each $label, $value in $margins {
      .#{$breakpoint}\:py-#{$label} {
        padding-top: $value;
        padding-bottom: $value;
      }
    }
  }
}
