// ================================
// Utilities: Position
// ================================

$position: (
  sticky: sticky,
  fixed: fixed,
  absolute: absolute,
  relative: relative,
  initial: initial
) !default;

@include set-selectors($position, 'position', 'position-');
