// ================================
// Utilities: Show
// ================================

// Show an element on mobile viewports less than 600px. Hidden on all other viewports.
.show-mobile {
  @include media('>=md') {
    display: none !important;
  }
}

// Show an element on tablet viewports >= 600px and < 980px. Hidden on all other viewports.
.show-tablet {
  display: none !important;

  @include media('>=md', '<lg') {
    display: block !important;
  }
}

// Show an element on viewports >= 980px. Hidden on all other viewports.
.show-desktop {
  @include media('<lg') {
    display: none !important;
  }
}
