// ================================
// Typography
// ================================

// --------------------------------
// Font Family
// --------------------------------

.font-system {
  font-family: $font-system;
}

.font-mono {
  font-family: $font-mono;
}

// --------------------------------
// Style
// --------------------------------

.style-italic {
  font-style: italic;
}

.style-roman {
  font-style: normal;
}

.transform-uppercase {
  text-transform: uppercase;
}

.transform-lowercase {
  text-transform: lowercase;
}

.transform-capitalize {
  text-transform: capitalize;
}

.transform-none {
  text-transform: none;
}

.decoration-underline {
  text-decoration: underline;
}

.decoration-overline {
  text-decoration: overline;
}

.decoration-none {
  text-decoration: none;
}

.decoration-strike {
  text-decoration: line-through;
}

// --------------------------------
// Whitespace & Wrapping
// --------------------------------

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

.break-normal {
  word-wrap: normal;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// --------------------------------
// Font weight
// --------------------------------

.weight-light {
  font-weight: 300;
}

.weight-normal {
  font-weight: 400;
}

.weight-semibold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

// --------------------------------
// Lists
// --------------------------------

.list-reset {
  padding: 0;
  list-style-type: none;
}

// --------------------------------
// Font Size
// --------------------------------

// loop through type sets
@each $label, $breakpoints in $type-sets {
  .type-#{$label},
  %type-#{$label} {
    @each $breakpoint, $options in $breakpoints {
      @if $breakpoint == 'base' {
        @each $attr, $value in $options {
          #{$attr}: $value;
        }
      } @else {
        @include media('>=#{$breakpoint}') {
          @each $attr, $value in $options {
            #{$attr}: $value;
          }
        }
      }
    }
  }
}
