// ================================
// Utilities: Alignments
// ================================

$verticalAlignments: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  text-top: text-top,
  text-bottom: text-bottom
) !default;

@include set-selectors($verticalAlignments, 'vertical-align', 'va-');
