{% macro icon(id, color, size, viewBox) %}
  {% if id %}
    <svg viewBox="{{viewBox|default('0 0 1 1')}}" class="iconography" size="{{ size|default('') }}" color="{{ color|default('currentColor') }}" aria-hidden="true">
      <use xlink:href="../assets/icons/icons.svg#{{id}}"></use>
    </svg>
  {% endif %}
{% endmacro %}
