// ================================
// Variables
// ================================

// --------------------------------
// Breakpoints
// --------------------------------

// include-media breakpoint variable overwrites
$breakpoints: (
  sm: em(480),
  md: em(600),
  lg: em(980),
  xl: em(1280)
);

// --------------------------------
// Layout
// --------------------------------

// Amount of gutter spacing to be added on each side of a column
$flex-gutter: 10px !default;

// Number of columns to be generated for flexbox columns
$flex-columns: 12 !default;

// Define max-widths used to generate container classes
$containers: (
  sm: rem(530px, $base-multiplier-rem),
  md: rem(768px, $base-multiplier-rem),
  lg: rem(1180px, $base-multiplier-rem),
  xl: rem(1440px, $base-multiplier-rem)
) !default;

// Gutter spacing to be added on each side of container
$container-gutter-small: 20px !default;
$container-gutter-large: 35px !default;

// --------------------------------
// Typography
// --------------------------------

// Font families
$font-roboto: 'Roboto', sans-serif;
$font-brand: 'Titillium Web', sans-serif !default;
$font-system: -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif !default;
$font-mono: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace !default;

// Type Sets
// Define a type grouping that can be looped over and generate utility classes
$type-sets: (
  h1: (
    base: (
      font-family: var(--root__font-brand),
      font-size: rem(40px),
      line-height: 1
    ),
    lg: (
      font-size: rem(60px)
    )
  ),
  h2: (
    base: (
      font-family: var(--root__font-brand),
      font-size: rem(34px),
      line-height: 1
    ),
    lg: (
      font-size: rem(50px)
    )
  ),
  h3: (
    base: (
      font-family: var(--root__font-brand),
      font-size: rem(30px)
    ),
    lg: (
      font-size: rem(40px)
    )
  ),
  h4: (
    base: (
      font-family: var(--root__font-brand),
      font-size: rem(26px)
    ),
    lg: (
      font-size: rem(30px)
    )
  ),
  h5: (
    base: (
      font-family: var(--root__font-brand),
      font-size: 1em,
      line-height: 1.35
    ),
    lg: (
      font-size: 1.1em
    )
  ),
  meta: (
    base: (
      font-size: rem(11px),
      letter-spacing: 0.15em,
      text-transform: uppercase
    )
  ),
  xs: (
    base: (
      font-size: 0.75em
    )
  ),
  sm: (
    base: (
      font-size: 0.875em
    )
  ),
  base: (
    base: (
      font-size: 1em
    )
  ),
  lg: (
    base: (
      font-size: 1.125em
    )
  ),
  xl: (
    base: (
      font-size: 1.25em
    )
  )
) !default;

// --------------------------------
// Colors
// --------------------------------

$colors: (
  white: (
    base: #fff
  ),
  black: (
    base: #000
  ),
  red: (
    base: #f00
  ),
  blue: (
    base: #0065f4,
    light: #f2f8ff,
    dark: #001842
  ),
  gray: (
    base: #333,
    light: #666
  )
) !default;
